
.video-aux {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 100000;
}

#section-2,
#section-3,
#section-4
 {
    background: url(../img/bg-slide-formacao-universo.jpg) no-repeat;
    background-attachment: fixed;


    #panel3,
    #panel4,
    #panel-clima
    {

        /*background: url(../img/bg-menu1.jpg) no-repeat;*/


        ul {
             > li {

                    position: relative;
                    cursor: pointer;
                      -webkit-transition: height 0.2s;
                    -moz-transition: height 0.2s;
                    transition: height 0.2s;

                     &:hover {

                        height: 90px;
                    }

                }



        }



        /*formacao do universo*/
        .galaxia ,
        .sistema ,
        .estrela ,
        .planeta ,
        .asteroide,
        .satelite-natural ,
        .satelite-eclipse ,
        .big-bang ,
        .musica ,
        .labirinto ,
        .palavras-cruzadas ,
        .charge ,
        .planeta-terra
        {
                background:rgba(51, 51, 51, 1) url(../img/icones-surgimento-universo.png) no-repeat 5px 10px;
                width: 100%;
                height: 100%;

        }

        .sistema {
                background-position: -72px 10px;
        }

        .estrela {
                background-position: -153px 10px;
        }

        .planeta {
                background-position: -234px 10px;
        }

        .asteroide {
                background-position: -315px 10px;
        }

        .satelite-natural {
                background-position: -395px 10px;
        }

        .satelite-eclipse {
                background-position: -475px 10px;
        }
        .big-bang {
                background-position: -556px 10px;
        }
        .musica {
                background-position: -639px 10px;
        }
        .labirinto {
                background-position: -720px 10px;
        }
        .palavras-cruzadas {
                background-position: -800px 10px;
        }
        .charge {
                background-position: -885px 10px;
        }
        .planeta-terra {
                background-position: -956px 10px;
        }


        // relevo //
        .endogeno ,
        .exogeno ,
        .rocha ,
        .intemperismo ,
        .formas-relevo,
        .bingo ,
        .maquete
        {
                background:rgba(51, 51, 51, 1) url(../img/icones-relevo.png) no-repeat 5px 10px;
                width: 100%;
                height: 100%;

        }

        .exogeno {
                background-position: -72px 10px;
        }

        .rocha {
                background-position: -153px 10px;
        }

        .intemperismo {
                background-position: -224px 10px;
        }

        .formas-relevo {
                background-position: -296px 10px;
        }

        .bingo {
                background-position: -373px 10px;
        }

        .maquete {
                background-position: -452px 10px;
        }

        // clima //
      .dinamica ,
      .aquecimento ,
      .fenomenos ,
      .consequencia ,
      .pesquisa,
      .debate ,
      .filme
      {
              background:rgba(51, 51, 51, 1) url(../img/icones-clima.png) no-repeat 16px 10px;
              width: 100%;
              height: 100%;

      }

      .aquecimento {
              background-position: -56px 10px;
      }

      .fenomenos {
              background-position: -123px 10px;
      }

      .consequencia {
              background-position: -204px 10px;
      }

      .pesquisa {
              background-position: -279px 10px;
      }

      .debate {
              background-position: -355px 10px;
      }

      .filme {
              background-position: -429px 10px;
      }


    }
}

#panel4 {
  margin: auto;
  width: 695px;
}

#panel-clima {
  margin: auto;
  width: 620px;
}

#section-3{
    background: url(../img/bg-slide-relevo.jpg);
}

#section-4{
    background: url(../img/bg-body-clima.jpg);
}

#image-reel {
    position: absolute;
    background: url(../img/bg-slide-formacao-universo.jpg) no-repeat;
    top: 0px;
    height: 100%;
    left: 0;
    z-index: 1;
}
.reel-annotation {
    white-space: nowrap;
    font-size: 13px;
    color: white;
    position: absolute;
    background-attachment: fixed;
    z-index: 1;
}
#waterfront {
    font-size: 36px;
    font-weight: bold;
}

#image-reel , .reel-panning * {
    cursor: url('../img/cursor-custom.png'), default;
}

.top-titulo {
    overflow: hidden;
    max-height: 153px;
    top: 10px;
    left: 0px;
    position: absolute;
    z-index: 10;
    background: rgba(0, 0, 0, 0.6);

    h1 {
        font-weight: 400;
        font-size: 21px;
        text-align: center;
        color: white;
        padding: 10px 40px;
        opacity: 1;
    }
}

.box-modal {
    margin: 0px;
    padding: 0px;
    p ,
    h1
    {
        color: white;
        margin: -3px 0 0 0;
    }

    a {
      color: @cor-link;
    }

    #wrapper {
      margin: 0px;
    }

    p {
        margin: 15px 0px;
    }

    ul {
      padding: 0px;
      padding-left: 5px;
      margin: 0px;
      list-style-type: none;

    }

    .alinhar-esquerda {

    }

    h1 {

        img {
            margin-top: -7px;
            margin-right: 20px;
        }
    }

    .list {
      list-style: none;

      li {
        color: white;
        line-height: 24px;
        white-space: inherit;

        i {
          color: @cor-link;
        }
      }
    }



    .video {
      border: 4px solid white;
      margin: auto;
      display: block;
      width:425px;
    }

    #video1 {
      width: 355px
    }

    .legenda {
      text-align: center;
      font-size: 12px;

      a {
        color: @cor-link;
        word-wrap: break-word;
      }
    }

    figure {
      img {
        .video;
        width: auto;
        margin: auto;
        display: inherit;
      }

      figcaption {
        color:white;
        margin-top: 14px;
        .legenda;
      }

    }


    /* css de estrlas */

        #img3 {
          float: left;
          width: 420px;
        }

        #video2 {
          height: 200px;
        }

        #video3 {
          height: 325px;
          width: 560px;
        }

        #video4 {
          height: 265px;
          width: 560px;
        }

    /* css estrelas */



}

.scroll {
  overflow:auto; height:434px;
}

.coluna {
    width: 48%;
    float: left;
    margin-right: 20px;


    &:last-child{
      margin-right: 0px;
      margin-left: 15px;
    }
}

.borda {
    width: 1px;
    margin: 0;
    float: left;
    height: 424px;
    background: white;
}

.sistema-solar {
  background: url(../img/sistema-solar.jpg) no-repeat;
  position: relative;
  width: 913px;
  height: 367px;
  margin-top: 10px;
  border: 1px solid white;

  div {
    float: left;
    cursor: pointer;
  }

  div:nth-child(1) {
    width:15px;
    height:10px;
    margin-top:98px;
    margin-left:131px;
  }

  div:nth-child(2) {
    width:15px;
    height:10px;
    margin-top:98px;
    margin-left:36px;
  }

  div:nth-child(3) {
    width:15px;
    height:10px;
    margin-top:98px;
    margin-left:33px;
  }

  div:nth-child(4) {
    width:15px;
    height:10px;
    margin-top:98px;
    margin-left:33px;
  }

  div:nth-child(5) {
    width:115px;
    height:110px;
    margin-top:46px;
    margin-left:36px;
  }

  div:nth-child(6) {
    width:259px;
    height:142px;
    margin-top:32px;
    margin-left:17px;
  }

  div:nth-child(7) {
    width:43px;
    height:55px;
    margin-top:70px;
    margin-left:28px;
  }

  div:nth-child(8) {
    width:39px;
    height:36px;
    margin-top:82px;
    margin-left:36px;
  }

}

.desloc {
  width: 63%;
}

.redu-desloc {
  width: 33%;
}
